# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# .DS_Store de Mac
*.DS_Store
/LinkedList/nbproject/private/
/LinkedList/build/
/LL_EX1/nbproject/private/
/LL_EX1/build/
/LL2_ex/nbproject/private/
/LL2_ex/build/
/DLL/nbproject/private/
/DLL/build/
/PalindromeChecker/nbproject/private/
/PalindromeChecker/build/
/DDLSwapFirstAndLast/nbproject/private/
/DDLSwapFirstAndLast/build/
/Stack/nbproject/private/
/Stack/build/
